* {
  margin: 0;
  padding: 0;
}

.wrapper-block {
  max-width: 1600px;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.button {
  background-color: rgb(2, 95, 2);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin: 10px;
}

.button-block {
  display: flex;
}